@model List<EC.Models.Product>

<h2>Products</h2>

<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-3">
            <div class="card mb-3">
                <img src="~/images/@p.Image" class="card-img-top" />
                <div class="card-body">
                    <h5>@p.Name</h5>
                    <p>₹@p.Price</p>
                    <a class="btn btn-sm btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    }
</div>
