<h2>Admin Dashboard</h2>

<div class="btn-group" role="group">
    <a class="btn btn-primary" href="/Admin/AddProduct">Add Product</a>
    <a class="btn btn-secondary" href="/Admin/Products">View Products</a>
</div>
